# 1 June 2019

# For Loop

In [1]:
fruits = ["Apple","Bannana","Peach","Orange","Mango"]

In [3]:
for fruit in fruits:
    print(fruit)

Apple
Bannana
Peach
Orange
Mango

In [6]:
for fruit in fruits:
    if fruit == "Mango":
        print(f"{fruit} is a Summer fruit")
    else: 
        print(f"{fruit} is Not a Summer Fruit")

Apple is Not a Summer Fruit
Bannana is Not a Summer Fruit
Peach is Not a Summer Fruit
Orange is Not a Summer Fruit
Mango is a Summer fruit

In [7]:
for a in "PAKISTAN":
    print(a, end = " ")

P A K I S T A N

In [10]:
for num in range(10):
    print(num, end = " ")

0 1 2 3 4 5 6 7 8 9

In [11]:
for num in range(1,10):
    print(num, end = " ")

1 2 3 4 5 6 7 8 9

In [18]:
numberInputs = int(input("Enter a number to get table"))
for num in range(1,11):
    print(f"{numberInputs} x {num} = {numberInputs * num}")

Enter a number to get table7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [19]:
for num in range(1,30,3): # for odd even number or to jump over from number STEPPING
    print(num, end = " ")

1 4 7 10 13 16 19 22 25 28

In [21]:
for num in range(25,0,-1):
    print(num, end=" ")

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [23]:
numberInputs = int(input("Enter a number to get table "))
for num in range(1,11):
    if num % 2 == 0:
        continue
    else:
        print(f"{numberInputs} x {num} = {numberInputs * num}")

Enter a number to get table8
8 x 1 = 8
8 x 3 = 24
8 x 5 = 40
8 x 7 = 56
8 x 9 = 72

In [24]:
numberInputs = int(input("Enter a number to get table "))
for num in range(1,11):
    if num % 2 == 0:
        break
    else:
        print(f"{numberInputs} x {num} = {numberInputs * num}")

Enter a number to get table8
8 x 1 = 8

In [34]:
friendList = []
for a in range(1,10):
    name = str(input(f"{a} Enter a name: ")).lower()
    if name.startswith("a"):
        continue
    else:
        friendList.append(name)
    
friendList

1 Enter a name: ali
2 Enter a name: abdullah
3 Enter a name: adnan
4 Enter a name: azeem
5 Enter a name: ahmed
6 Enter a name: kashif
7 Enter a name: asif
8 Enter a name: hamza
9 Enter a name: ammar

['kashif', 'hamza']

In [36]:
friendList = []
for a in range(1,10):
    name = str(input(f"{a} Enter a name: "))
    if name.startswith("a") or name.startswith("A"):
        continue
    else:
        friendList.append(name)
    
friendList

1 Enter a name: Adnan
2 Enter a name: Ali
3 Enter a name: abdullah
4 Enter a name: abbas
5 Enter a name: azeem
6 Enter a name: Hamza
7 Enter a name: Tabish
8 Enter a name: Atiyan
9 Enter a name: Rameez

['Hamza', 'Tabish', 'Rameez']

# Nested For Loop (for inside for)

In [40]:
for a in [1,2,3,4,5]:
    for v in "nasir":
        print(a,v)

1 n
1 a
1 s
1 i
1 r
2 n
2 a
2 s
2 i
2 r
3 n
3 a
3 s
3 i
3 r
4 n
4 a
4 s
4 i
4 r
5 n
5 a
5 s
5 i
5 r

In [48]:

for numberInputs in range(2,9):
    print("------------")
    for num in range(1,11):
        print(f"{numberInputs} x {num} = {numberInputs * num}")

------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

# List comprehension

In [54]:
a = [1,2,3,4,5,6,7,8,9]
square = []
for number in a :
    square.append(number **2)
    
square

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [56]:
[num**2  for num in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
[num**2  for num in range(1,11) if num > 4]

[25, 36, 49, 64, 81, 100]