# First Python Class

Testing Code

In [1]:
print(123)

123

In [14]:
print(123, "abc", True, )#shift + tab for intelisense

123 abc True

In [13]:
print(123, "abc", True, sep = "|") #Define separator

123|abc|True

In [11]:
print("Hello PIAIC", end="\t") #1 Tab Space
print("Hello Enemy", end="\t")
print("Hello Money")

Hello PIAIC	Hello Enemy	Hello Money

In [12]:
print("Hello PIAIC", end="\n") #Break Line
print("Hello Enemy", end="\n")
print("Hello Money")

Hello PIAIC
Hello Enemy
Hello Money

In [15]:
name = "Ali"

In [16]:
id(name)

2101697234848

In [17]:
name = "Adnan"

In [18]:
id(name)

2101697235688

#  Concatination

In [41]:
x= "2019-"
y ="2020"
z= x+y

In [42]:
print(z)

2019-2020

In [33]:
x= 2
y =2
z= x/y

In [34]:
print(z)

1.0

In [35]:
x= 2
y =2
z= x*y

In [43]:
print(z)

2019-2020

In [47]:
age = 22
name ="Adnan"
print("My name is "+name+ " My age is " +str(age))

My name is Adnan My age is 22